@charset "utf-8";

/*共通部分
---------------------*/
html {
    font-size:100%;
}
body{
    font-family: "Hiragio Kaku Gothic ProN","Hiragio Sans","BIZ UDPGothic", sans-serif;
    line-height:1.7;
    color:#432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
